body {
    background-color: #0C2340;
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
}

h1 {
    font-size: 68px;
}

.title {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

caption {
    padding: 5px;
    font-size: 30px;
}

td, th {
    border: 1px solid #FFFFFF;
    text-align: left;
    padding: 8px;
    width: 26.6666666667%;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
    color: #0C2340;
}
