body {
    background-color: #0C2340;
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
}

footer {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    font-size: 68px;
}

a {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

.title {
    margin: 0.1rem;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

caption {
    padding: 0.6rem;
    font-size: 30px;
}

td, th {
    border: 1px solid #FFFFFF;
    text-align: left;
    padding: 0.6rem;
    width: 26.6666666667%;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
    color: #0C2340;
}
